aerich==0.5.8; python_version >= "3.7" and python_version < "4.0"
aiosqlite==0.17.0; python_version >= "3.7" and python_version < "4.0"
asgiref==3.4.1; python_version >= "3.6"
asyncpg==0.24.0; python_full_version >= "3.6.0"
click==8.0.1; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0"
ddlparse==1.10.0; python_version >= "3.7" and python_version < "4.0"
dictdiffer==0.9.0; python_version >= "3.7" and python_version < "4.0"
fastapi==0.68.1; python_version >= "3.6"
h11==0.12.0; python_version >= "3.6"
iso8601==0.1.16; python_version >= "3.7" and python_version < "4.0"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.7" and python_version < "4.0"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.3.0"
pypika-tortoise==0.1.1; python_version >= "3.7" and python_version < "4.0"
pytz==2021.1; python_version >= "3.7" and python_version < "4.0"
starlette==0.14.2; python_version >= "3.6"
tortoise-orm==0.17.7; python_version >= "3.7" and python_version < "4.0"
typing-extensions==3.10.0.2; python_full_version >= "3.6.1" and python_version >= "3.7" and python_version < "4.0"
uvicorn==0.15.0
